{
  "openapi": "3.0.0",
  "info": {
    "title": "SharePoint Site and List API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/sites/{site-id}": {
      "get": {
        "summary": "Get site information",
        "operationId": "sites_get_site",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the SharePoint site",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site-id}/drives/{drive-id}": {
      "get": {
        "summary": "Get a document library (drive) from a site",
        "operationId": "sites_get_drive",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the SharePoint site",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "drive-id",
            "in": "path",
            "required": true,
            "description": "The ID of the document library (drive)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drive"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site-id}/drives": {
      "get": {
        "summary": "List a site's document libraries",
        "operationId": "sites_list_drives",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the SharePoint site",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Drive"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site-id}/lists": {
      "get": {
        "summary": "List a site's lists",
        "operationId": "sites_list_lists",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the SharePoint site",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/List"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new list on a site",
        "operationId": "sites_create_lists",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the SharePoint site",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "The display name of the list"
                  },
                  "name": {
                    "type": "string",
                    "description": "The URL name of the list"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "List created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site-id}/lists/{list-id}": {
      "get": {
        "summary": "Get a specific list from a site",
        "operationId": "sites_get_lists",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the SharePoint site",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "description": "The ID of the list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update properties of a list",
        "operationId": "sites_update_lists",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the SharePoint site",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "description": "The ID of the list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a list from a site",
        "operationId": "sites_delete_lists",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the SharePoint site",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "description": "The ID of the list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "List deleted successfully"
          }
        }
      }
    },
    "/sites/{site-id}/lists/{list-id}/items": {
      "get": {
        "summary": "List all items in a list",
        "operationId": "sites_lists_list_items",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new item in a list",
        "operationId": "sites_lists_create_items",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fields": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Item created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItem"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site-id}/lists/{list-id}/items/{item-id}": {
      "get": {
        "summary": "Get a specific item from a list",
        "operationId": "sites_lists_get_items",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItem"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a specific item in a list",
        "operationId": "sites_lists_update_items",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fields": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a specific item from a list",
        "operationId": "sites_lists_delete_items",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Item deleted successfully"
          }
        }
      }
    },
    "/sites/{site-id}/lists/{list-id}/items/{item-id}/versions": {
      "get": {
        "summary": "List all versions of a list item",
        "operationId": "sites_lists_items_list_versions",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListItemVersion"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site-id}/lists/{list-id}/items/{item-id}/versions/{version-id}": {
      "get": {
        "summary": "Get a specific version of a list item",
        "operationId": "sites_lists_items_get_versions",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItemVersion"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site-id}/lists/{list-id}/items/{item-id}/versions/{version-id}/fields": {
      "get": {
        "summary": "Get fields for a specific list item version",
        "operationId": "sites_lists_items_versions_get_fields",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Site": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        }
      },
      "Drive": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "driveType": {
            "type": "string"
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fields": {
            "type": "object"
          }
        }
      },
      "ListItemVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "lastModifiedDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
